*.class

# Package Files #
#/Restaurant-war/dist/
#/Restaurant-ejb/

src/
build/
dist/
nbproject/

Restaurant-ejb/build/
Restaurant-ejb/dist/
Restaurant-ejb/nbproject/
Restaurant-ejb/setup/
Restaurant-ejb/src/conf/

Restaurant-war/build/
Restaurant-war/dist/
Restaurant-war/nbproject/
Restaurant-war/src/conf/





