*.class

# Package Files #
*.jar
*.war
*.ear
#/Restaurant-war/dist/
build/
dist/
nbproject/

Restaurant-war/*
!/Restaurant-war/src/java
!/Restaurant-war/web

Restaurant-ejb/*
!/Restaurant-ejb/src


#/Restaurant-ejb/
