<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controllerPrincipal</servlet-name>
        <servlet-class>controllers.controllerPrincipal</servlet-class>
        <init-param>
            <param-name>pageX</param-name>
            <param-value>controllers.TESTsousController</param-value>
        </init-param>
        <init-param>
            <param-name>pageSousType</param-name>
            <param-value>controllers.SsControllerSousType</param-value>
        </init-param>
        <init-param>
            <param-name>pageListeProduit</param-name>
            <param-value>controllers.SsControllerListeProduit</param-value>
        </init-param>
        <init-param>
            <param-name>pageLogin</param-name>
            <param-value>controllers.SsControllerLogin</param-value>
        </init-param>
        <init-param>
            <param-name>pageCommande</param-name>
            <param-value>controllers.SsControllerCommande</param-value>
        </init-param>
        <init-param>
            <param-name>pageDetailProduit</param-name>
            <param-value>controllers.SsControllerDetailProduit</param-value>
        </init-param>
        <init-param>
            <param-name>pageAjoutProduit</param-name>
            <param-value>controllers.SsControllerLigneCommande</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllerPrincipal</servlet-name>
        <url-pattern>/controllerPrincipal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>EJBType</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBTypeLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBType</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EJBType1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBTypeLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBType</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EJBSousType</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBSousTypeLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBSousType</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EJBTable</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBTableLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBTable</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EJBLogin</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBLoginLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBLogin</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EJBCommande</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBCommandeLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBCommande</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EJBProduit</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBProduitLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBProduit</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EJBCommande1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBCommandeLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBCommande</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EJBType2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBTypeLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBType</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EJBProduit1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBProduitLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBProduit</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EJBLigneCommande</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanSession.EJBLigneCommandeLocal</local>
        <ejb-link>Restaurant-ejb.jar#EJBLigneCommande</ejb-link>
    </ejb-local-ref>
</web-app>
